--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118

# --index-url https://pypi.org/simple
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.12.1+cu116
# torchvision==0.13.1+cu116
# torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116

# Basic Packages
lightning>=2.0.8
mlflow==2.7.1
opencv-contrib-python
matplotlib
Pillow
pytest
sh
ipykernel
ipywidgets
tensorboard
tensorboardX
pytest
sh
